.vscode
.ipynb_checkpoints

lp/
venv/

5_2/
5_3/
5_4/

6_reg/capstone_user_identification/3users/
6_reg/capstone_user_identification/10users/
6_reg/capstone_user_identification/150users/

basemap/


*.pdf
*.zip
*.rar

*.pickle
*.pkl

Dockerfile

check_kernal.ipynb
cluster_foresquare_hw.ipynb
edit_CookingLDA_PA_Coursera.ipynb
fsq.zip
fsq/
fsq_hw.py
recipes.json
step3_1.csv
yellow_tripdata_2016-05.csv